body{
    background: linear-gradient(135deg, #f0faff, #ffffff, #e6f7ff);
    color: black;
}
#logo{
    width: 7%;
}

h3, h4, p, span, li{
    font-family: "Urbanist", sans-serif;
}
h1, h2{
    font-family: "Oswald", sans-serif;
}

h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 1em;
}
h2{
    font-size: 35px;
}
h4{
    font-size: 20px;
    font-weight: 500;
}
p{
    font-size: 16px;
}

#cont-personajes{
    gap: 2em;
    margin-top: 50px;
}

.cardPersonaje{
    width: 15vw;
    height: 50vh;

    border-radius: 18px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* efecto de vidrio */
    -webkit-backdrop-filter: blur(10px); /* soporte para Safari */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.cardPersonaje img{
    border-radius: 18px;
    height: 42vh;
}

.cardPersonaje h4{
    border-radius: 18px;
    height: 8vh;
    display: flex;
    align-items: center;
    padding-left: 18px;
}