body{
    background-color: black;
    color: rgb(255, 255, 255);
}
#logo{
    width: 5%;
}

h4, p, li, button, span{
    font-family: "Urbanist", sans-serif;
}
h1, h2, h3{
    font-family: "Oswald", sans-serif;
}

h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 1em;
}
.resaltado{
    font-family: "Oswald", sans-serif;
    color: rgb(142, 20, 255);
}
h2{
    font-size: 40px;
    font-weight: 500;
}
h3{
    font-size: 40px;
    font-weight: 400;
}
h4{
    font-size: 20px;
    font-weight: 500;
}
p{
    font-size: 16px;
}

.desc{
    font-size: 24px;
}

#heroSection{
    background-image: url("../imgs/stars@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 90vh;

    background-color: rgba(0, 0, 0, 0.332);

}

#planetaPrincipal{
    transform: rotateX(180deg);
}

.gradienteInvertido{
    background-image: url("../imgs/gradiente-violeta-opp.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90vh;
}

.fondoGalaxia{
    background-image: url("../imgs/galaxy\ background.jpg");
}

#shield-loader{
    width: 50px;
    height: auto;
}

#cont-personajes{
    gap: 2em;
    margin-top: 50px;
}

.cardPersonaje{
    width: 15vw;
    height: 50vh;

    border-radius: 18px;

    background: rgba(234, 235, 235, 0.196);
    backdrop-filter: blur(10px); /* efecto de vidrio */
    -webkit-backdrop-filter: blur(10px); /* soporte para Safari */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    transition: all 200ms ease-in-out;
}

.cardPersonaje img{
    border-radius: 18px;
    height: 42vh;
}

.cardPersonaje h4{
    border-radius: 18px;
    height: 8vh;
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.cardPersonaje:hover{
    transform: scale(1.05);
}


.slider{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    padding: 20px;
}

.cardcita{

    border-radius: 12px;

    padding: 10px 15px;
    margin-left: 20px;

    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.17);

    scroll-snap-align: start;
}

button{
    font-size: 18px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 10px;
}

/*ERROR*/

.p-error{
    font-size: 30px;
}
.error{
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
}

#slider::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* 50% de opacidad negra */
  pointer-events: none;
}

#slider .posAb{
    z-index: 1;
}

#slider button{
    font-size: 25px;
}

#slider p{
    font-size: 20px;
}
